
* {
    font-family: 'Raleway', sans-serif !important;
}

.landing-container {
    margin-top: 30%;
}

.landing-form{
    padding-left: 15%; 
    padding-right: 15%;
    text-align: center;    
}

.landing-form-label{
    color: lightgrey;
}

.landing-logo-img {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-code-input {
    background-color: #363636;
    border-color: #363636;
    height: 80px;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn-assign-to-tap {
    background-color: #e69d01;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 800;
}

.text-white {
    color: #ebebeb;
}

.text-yellow {
    color: #e69d01;
}

.landing-header-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 1px;
    font-weight: bold;
}

.landing-message-text {
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
}

.landing-p-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.img-beer {
    width: 100%;
    height: 40%;
}

.text-error {
    color: red;
}

.beer-name {
    text-transform: uppercase;
    font-weight: 800;
}

.beer-size-name {
    color:  #e69d01;
    font-size: 26px;
    font-weight: 600;
}

.beer-size-volume {
    color: #ffffff;
    font-size: 24px;
}

.beer-size-price {
    color: #e69d01;
    font-size: 26px;
    font-weight: 600;
}

.beer-size-std {
    color: #ffffff;
    font-size: 24px;
}

.beer-size-std-drinks {
    color: #ffffff;
    font-size: 18px;
}